# Arduino Sketch build files
*.elf
*.bin
*.hex
*.eep
*.o
*.a
*.d

# Arduino libraries
libraries/

# Arduino build folders
/build/
/.build/

# MacOS files
.DS_Store

# Windows files
Thumbs.db

# Logs and databases
*.log
*.sql
*.sqlite

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo

# VIM files
*.swn

# Compiled dynamic libraries
*.so

# Compiled object files
*.obj
*.pyc
*.pyo
*.pyd

# IDE directories
.idea/
.vscode/

# Node modules directory
node_modules/

# Build artifacts and intermediate files for Xcode
build/
DerivedData/
.idea/
*.xcworkspace/
xcuserdata/
*.xcuserdatad/
*.moved-aside
*.xcuserstate

# Logs for Xcode
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Swift Package Manager
.swiftpm
.build/

# Swift Package Manager Binary Artifacts
/.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Xcode specific
*.pbxuser
*.mode1v3
*.mode2v3
!default.mode1v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcshareddata/

# AppCode
.idea/
.idea_modules/
.idea/workspace.xml
.idea/.name
.idea/vcs.xml
.idea/modules.xml
.idea/inspectionProfiles/
.idea/fileColors.xml
.idea/gradle.xml
.idea/libraries/
.idea/tasks.xml
.idea/scopes/
.idea/compiler.xml
.idea/copyright/
.idea/shelf/
.idea/runConfigurations/
.idea/encodings.xml
.idea/misc.xml
.idea/dictionaries/
.idea/codeStyles/
.idea/codeStyleSettings.xml
.idea/codeStyle/
.idea/java-generate-javadoc.xml
.idea/tomcat/
.idea/svn/
.idea/languages.xml
.idea/maven/
.idea/sonar/
.idea/graphs/
.idea/xcode/

# Xcode profile settings
*.xccheckout
*.xcscmblueprint

# Others
# .env files, logs, temporary files, and any other custom exclusions
*.env
*.log
temp/
.tmp

# Ignore files from example sketch
*.ino.*
*.ino.*

# Ignore the code coverage directory generated by the codecov tool
coverage/

# Ignore the test results directory
test-results/


